/* Reset default margin and padding */
body, h1, h2, p, ul, li, input, button {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Style the search container */
.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-bar {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: left;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #007acc;
}

/* Style the product list */
.product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-list li {
    width: calc(33.33% - 10px);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product-list li img {
    width: 255px;
    height: 250px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}